ud3_pack5_Angel_Segui/ud3_ex5.1_Angel_Segui.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="pais" type="paisRoot"/>

<xs:complexType name="paisRoot">
  <xs:sequence>
    <xs:element name="ciutat" type="xs:string"/>
    <xs:element name="data-de-naixement" type="xs:date"/>
    <xs:element name="hora" type="xs:time"/>
    <xs:element name="nota" type="xs:integer"/>
    <xs:element name="apte" type="xs:boolean"/>
  </xs:sequence>
</xs:complexType>
</xs:schema>