ud3_pack4_Angel_Segui/ud3_ex4.3_Angel_Segui.dtd

<!ELEMENT arrel (llibres*, cuaderns*, llapisos*)>
<!ELEMENT llibres (llibre+)>
<!ELEMENT llibre (#PCDATA)>
<!ATTLIST llibre titol CDATA #REQUIRED>
<!ELEMENT cuaderns (cuadern+)>
<!ATTLIST cuadern num_fulles CDATA #IMPLIED>
<!ELEMENT cuadern (#PCDATA)>
<!ELEMENT llapisos (llapis+)>
<!ATTLIST llapis numero CDATA #REQUIRED>
<!ELEMENT llapis (#PCDATA)>